body {
    background-color: beige;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    width: 600px;
    margin: auto;
    background-color: blue;
}

#gridBox {
    flex:auto;
    height: 148px;
    width: 148px;
    background-color: rgb(225, 255, 0);
    border-color: black;
    border: solid;
    border-width: 1px;
}

#header-div {
    display: flex;
    justify-content: center;
    height: 50px;
    padding: 10px;
    margin: 10px 200px;
    background-color: rgb(251, 189, 96);
}