body {
    background-color: beige;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    width: 600px;
    margin: auto;
    background-color: blue;
}

.gridBox {
    background-color: rgb(225, 255, 0);

}

#header-div {
    display: flex;
    justify-content: center;
    height: 50px;
    padding: 10px;
    margin: 10px 200px;
    background-color: rgb(251, 189, 96);
}